body{
    margin: 0;
    padding: 0;
}
.contenedor{
    margin: 0;
    padding: 0;
}
/*3er DESAFIO:aumente la propiedad position=absolute*/
.caja{
    height: 200px;
    width: 200px;
    position: absolute;
}
/*3er DESAFIO:aumente las propiedades de lefth y top*/
#rosa{
    background-color:#EE3E64 ;
    left: 0;
    top: 0;
}
/*primer desafio: al id=azul le aumente position y left */
/*3er DESAFIO:borre dos propiedades:position y left y puse right y top*/
#azul{
    background-color: #2B7DB9;
    /*position: relative;
    left: 200px;*/
    right: 0;
    top: 0;
}
/*3er DESAFIO:aumente las propiedades de bottom y left*/
#verde{
    background-color:#B7D84B;
    bottom: 0;
    left: 0;
}
/*3er DESAFIO:aumente el selector del id=amarillo*/
#amarillo{
    background-color: #FAFF16;
    right: 0;
    bottom: 0;
}